{%extends 'base.html'%}
{% block header %}Want to Play a Game{% endblock %}
{% block content %}
    <form action="/madlibs" method="POST">
    Please pick a color
    <select name="color">
        <option value="red">Red</option>
        <option value="pink">Pink</option>
        <option value="orange">Orange</option>
        <option value="blue">Blue</option>
        <option value="purple">Purple</option>
        <option value="white">White</option>
        <option value="green">Green</option>
        <option value="black">Black</option>

    </select>
    <div>
    Please enter a proper name <input type="text" name="propername">
    <div>
    <div>
    Please enter a noun <input type="text" name="noun">
    <div>
    Please enter a adjective <input type="text" name="adjective">
    <div>

    <input type="submit">

    </form>
{% endblock %}